# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
bin
debug
.apdisk

#Prediction results
/Senbazuru/ExcelImporter/resources/FrameFinder/data/results/
/Senbazuru/ExcelImporter/Senbazuru/bin/
/Senbazuru/ExcelImporter/Interfaces/bin/
/Senbazuru/ExcelImporter/HirarchicalExtraction/bin
/Senbazuru/ExcelImporter/HeaderRecongnizerModelTrainer/bin
/Senbazuru/ExcelImporter/FrameFinderConsole/bin
/Senbazuru/ExcelImporter/FrameFinder/bin
/Senbazuru/ExcelImporter/FrameFinder/obj/Debug
/Senbazuru/ExcelImporter/FrameFinderConsole/obj/Debug
/Senbazuru/ExcelImporter/Interfaces/obj/Debug
*.exe
*.cache
*.pdb